{% include base_path %}

<!-- Favicons -->
<link rel="icon" type="image/x-icon" href="{{ base_path }}/images/favicon.ico">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg" color="#2b5fb5">
<meta name="msapplication-TileColor" content="#2b5fb5">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Academic icons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- MathJax v3 -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
